{% extends "templates/web.html" %}

{% block page_content %}
{% block style %}
<link rel="stylesheet" href="/assets/frappe/js/lib/fullcalendar/fullcalendar.min.css">
<link rel="stylesheet" href="/assets/communications/css/public_calendar.css">
{% endblock %}
<div class="public-calendar-container">
	<div class="calendar-toolbar">
		<select id="calendar-select" class="form-control input-sm">
			<option value="">{{ _("All Calendars") }}</option>
			{% for cal in public_calendars %}
			<option value="{{ cal.name }}" data-route="{{ cal.route }}" {% if selected_calendar==cal.name %}selected{% endif
				%}>
				{{ cal.title or cal.name }}
			</option>
			{% endfor %}
		</select>
		<span class="calendar-timezone-label text-muted" style="margin-left: 1rem;">
			{{ _("Times shown in") }} <strong>{{ timezone }}</strong>
			<a href="#" id="change-timezone-link" class="calendar-timezone-link">{{ _("Change my Time Zone") }}</a>
		</span>
	</div>
	<div id="public-calendar-wrapper" data-calendar="{{ selected_calendar or '' }}"
		data-method="communications.www.calendar.index.get_events" data-timezone="{{ timezone }}">
	</div>
</div>
{% endblock %}

{% block script %}
<script src="/assets/communications/js/public_calendar.js?v={{ js_mtime }}"></script>
<script>
	frappe.ready(() => public_calendar.init())
</script>
{% endblock %}
